.review-explore {
    margin: 0 20px 0 20px;
    
  h1 {
    margin: 0 0 20px 0 ;
    padding-top: 20px;
  }

  input {
    width: 100%;
    max-width: 300px;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .review-list {
    list-style: none;
    padding: 0;

    li {
      background: #f8ede3;
      padding: 1em;
      margin-bottom: 0.5em;
      border-radius: 5px;

      strong {
        color: #8d493a;
      }
    }
  }
}