.toy-index {
  padding: 2rem 1rem;
  

  h1 {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    color: #8d493a;
  }

  .pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem;

    button {
      font-size: 16px;
      padding: 0.5em 1em;
      border: none;
      background-color: #F8EDE3;
      color: rgb(5, 5, 5);
      cursor: pointer;
      border-radius: 16px;
      font-weight: bold;

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}