.toy-index {
  padding: 2rem 1rem;
  

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;

    button {
      padding: 0.5em 1em;
      border: none;
      background-color: #95e1d3;
      color: rgb(5, 5, 5);
      cursor: pointer;
      border-radius: 4px;
      font-weight: bold;

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}