
.toy-details {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  max-height: 850px;
  max-width: 400px;

  .img-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 800px;
    margin-bottom: 1.5rem;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f0f0f0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 4px solid #8D493A;
    }
  }

  h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #8D493A;
  }

  h3 {
    color: #8D493A;
    margin-bottom: 0.5rem;
  }

  ul {
    padding: 0;
    list-style: none;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;

    li {
      background-color: #D0B8A8;
      color: #F8EDE3;
      padding: 0.3em 0.7em;
      border-radius: 4px;
      font-size: 0.9rem;
    }
  }

  .in-stock {
    color: green;
  }

  .out-of-stock {
    color: red;
  }
}