.home-page {
  text-align: center;
  padding: 2rem;
}

.home-page h1 {
  font-size: 4rem;
  margin-top: 200px;
  font-weight: 100;
  margin-bottom: 1rem;
}

.home-page .lottie {
  max-width: 800px;
  margin: 0 auto;
}