@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
.home-page {
  text-align: center;
  padding: 2rem;
}

.home-page h1 {
  font-family: 'Modak', cursive ;
  color: #F38181;
  font-size: 150px;
  margin-top: 200px;
  font-weight: 100;
  margin-bottom: 8rem;
}

.home-page .lottie {
  max-width: 800px;
  margin: 0 auto;
}