.toy-list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 1.5rem;
  }
  
  .toy-list li {
    background-color: #EAFFD0;
    padding: 1rem;
    border-radius: 8px;
    transition: box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .toy-list li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .toy-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .toy-actions button {
    padding: 0.4em 0.8em;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    background-color: #95E1D3;
    color: rgb(12, 9, 9);
    cursor: pointer;
  }
  
  .toy-actions button:hover {
   background-color: #afe7dd;
  }