.main-layout {
  min-height: 100vh;
  background-image: linear-gradient(to top, #8d493a, #a16753, #b58570, #c8a490, #dcc3b2, #e2cdbd, #e8d6c8, #eee0d4, #e6d6c9, #dfccbe, #d7c2b3, #d0b8a8);

  .container {
    padding-inline: 2em;
 }
}
